.navbar{
    background-color: rgb(29, 28, 82);
    height: 75px;
}
.nav{
    display: flex;
    list-style: none;
    padding: 20px;
    font-size: large;
    color: white;

}
li{
    margin: 3px 10px;
    
}
a{
    color: white;
    text-decoration: none;
}